* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #145f9a;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 130px;
}

.menu {
  display: flex;
}

.menu_button {
  display: flex;
  white-space: nowrap;
  padding: 25px 30px;
  user-select: none;
}

.menu_button:hover {
  background-color: #1770b5;
  cursor: pointer;
}

.menu_text {
  margin-right: 1px;
  font-size: 18px;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons_icon {
  padding: 25px 0;
}

.buttons_icon:hover,
.menu_language-selection {
  cursor: pointer;
}

.menu_divider {
  border-left: #edf6f9 1px solid;
  height: 26px;
  margin: 15px;
}

.menu_language-selection {
  display: flex;
}

.menu_language {
  font-size: 18px;
  padding: 25px 0;
}

.title {
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  height: 140px;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
}

.title_logo {
  margin-right: 30px;
  cursor: pointer;
}

.title_text {
  color: #145f9a;
}

.title_text_div {
  vertical-align: middle;
  width: 60%;
  max-width: 590px;
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.title_image_div {
  width: 40%;
  height: 140px;
}

.title_image {
  width: 100%;
  height: 140px;
}

h1 {
  font-size: 32px;
  font-weight: 500;
}

b {
  font-weight: 400;
}

footer p {
  font-weight: 300;
  font-size: 18px;
}

footer {
  background-color: #f7faff;
  display: flex;
  justify-content: space-between;
  color: #242423;
}

.contacts {
  margin: 100px 0 0 250px;
}

.contacts_header {
  margin-bottom: 22px;
}

.contacts_item {
  margin-bottom: 15px;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin: 100px 0 120px;
}

.navigation_header {
  margin-bottom: 22px;
}

.navigation_content {
  display: flex;
}

.navigation_left-column {
  margin-right: 62px;
}

.navigation_item {
  display: flex;
  margin-bottom: 12px;
}

.navigation_item img {
  user-select: none;
}

.navigation_item p {
  margin-left: 5px;
}

.navigation_item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.social {
  margin: 100px 250px 0 0;
}

.social_header {
  margin-bottom: 22px;
}

.social_content {
  display: flex;
}

.social_content img {
  margin-right: 30px;
  user-select: none;
}

.social_content img:hover {
  cursor: pointer;
}

.slider {
  align-items: center;
  width: 80%;
  margin: auto;
  max-width: 1200px;
}

.slider_image {
  width: 100%;
}

.main_menu {
  background-color: #f7faff;
  width: 100%;
}

.submenu {
  width: 56%;
  max-width: 803px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  text-align: center;
  padding: 32px 0;
}

.submenu_item {
  cursor: pointer;
}

.news {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding-top: 24px;
}

.title_news {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view_all {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #145f9a;
}

.news_menu {
  margin-top: 30px;
  display: flex;
}

hr {
  border: 1px solid;
  border-color: #145f9a;
}

.main_news {
  max-width: 550px;
}

.main_news_text {
  max-width: 480px;
}

.main_news_text_title {
  font-family: Jost;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.main_news_text_p {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-align: left;
}

.main_news_text_date {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #848484;
}

.other_news {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.other_news_1 {
  width: 50%;
  max-width: 280px;
  margin: 0 0 20px 30px;
}

.other_news_text {
  width: 100%;
}

.other_news_text_title {
  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #242423;
}

.other_news_text_date {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #848484;
}

.other_news_text_further {
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #145f9a;
}

.seminars_wrapper {
  overflow: hidden;
}

.seminars_slider {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
  //transform: translate3d(0px, 0px, 0.1px);
}

.seminars_menu {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.seminars_other {
  width: 27%;
}

.seminars_slider_ellips {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 79px;
}

.ellipse_1 {
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #858585;
  margin: 0 7px;
  background-color: #145f9a;
  cursor: pointer;
}

.ellipse_2 {
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #858585;
  margin: 0 7px;
  cursor: pointer;
}

.ellipse_3 {
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #858585;
  margin: 0 7px;
  cursor: pointer;
}

.publications_menu {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

.publications_other {
  min-width: 48%;
  background-color: #dbedfa;
  display: flex;
}

.publications_oher_image {
  height: 235px;
  margin: 20px;
}

.publications_other_text {
  margin: 20px;
}

.publications_other_text_title {
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.publications_other_text_p {
  font-family: Jost;
  font-size: 13px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.publications_other_text_look {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #145f9a;
}

.partners {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 24px 0 35px 0;
  margin-bottom: 64px;
}

.banner {
  height: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
}
